#overlay_container
  #modal_overlay
#modal
  .top_left_corner
    %h1= catch_content :modal_title
    .top_right_corner
  .modal_content= catch_content :for_layout
  .bottom_bar
  .bottom_left_corner
    .bottom_right_corner
