#envelopes
  .floatleft
    %h2 Accounts
    = partial 'envelopes/envelope', :with => my(:envelopes).all(:type.not => :envelope)
    .clear
  .floatleft
    %h2 Envelopes
    = partial 'envelopes/envelope', :with => my(:envelopes).all(:type => :envelope)
    %div.envelope.modal_link{:href => url(:new_envelope)}
      %div
        %p.name New Envelope
        %p.amount ...
  .clear
#summary
  %p
    Total Available:
    == $#{session.user.total_available.to_money}
  %p
    Total Set Aside:
    == $#{session.user.total_set_aside.to_money}
