#dialog-title== Money set aside#{' for '+@to.name if @to}#{' from '+@from.name if @from}
/ TODO: Should show/edit budget here also!
#pending_xactions= partial 'xactions/view_listing', :with => @xactions
