/*********** Color Scheme 4 ************/
html {background-color:#000000;}
body a {color:#0000ee;}
div#logo {background-color:#AEEE00;color:#32331D;border: 1px solid #32331D;}
div#logo p.product {color:#000;}
div#logo p.company {color:#fff;}
div#logo h4.slogan {color:#000;}
div#main {background-color:#FF358B;}
div#main .content {background-color:#fff;}
div#main .content a {color:blue;text-decoration:none;}
div#main .content a:hover {background-color:#F6E497;color:#000;}
div#main .content th {background-color: #E0FCEB;}
div#main .content .tickettablerows td {border-bottom: 1px solid #E0FCEB;}
div#main .content h1 {background-color:#01B0F0;color:#000;}
div#navigation a {background-color:#333333;color:#fff;text-decoration:none;}
div#navigation a:hover {background-color:#FF358B;color:#fff;}
div#navigation a.selected {background-color:#FF358B;}
div#footer {background-color:#AEEE00;color:#000;border-top:1px solid #4C1B1B;}
div#footer a {color:#000;}
.opaque {opacity:0.7;filter: alpha(opacity=80);}
.opaque a {color:#33332d;}