/*********** Color Scheme 2 ************/
html {background-color:#5D9E9B;}
body a {color:#0000ee;}
div#logo {border: 1px solid #393A3D;background-color:#E0FCEB;}
div#logo p.company {color:#C8DBBF;}
div#main {background-color:#DB0048;}
div#main .content {background-color:#fff;}
div#main .content a {color:blue;text-decoration:none;}
div#main .content a:hover {background-color:#E0FCEB;color:#000;}
div#main .content th {background-color: #E0FCEB;}
div#main .content .tickettablerows td {border-bottom: 1px solid #E0FCEB;}
div#main .content h1 {background-color:#E0FCEB;}
div#navigation a {background-color:#393A3D;color:#fff;text-decoration:none;}
div#navigation a:hover {background-color:#DB0048;color:#fff;}
div#navigation a.selected {background-color:#DB0048;}
div#footer {background-color:#E0FCEB;color:#000;border-top:1px solid #C8DBBF;}
div#footer a {color:#000;}
.opaque {opacity:0.7;filter: alpha(opacity=80);color:#33332d;}
.opaque a {color:#33332d;}